<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.justyna.flashcards">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".activities.VocabularyListActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity android:name=".activities.FlashcardsActivity" />
        <activity
            android:name=".settings.MyPreferenceActivity"
            android:label="Preferences" />
        <activity android:name=".settings.SettingsActivity" />
        <activity android:name=".activities.DictionaryActivity" />
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="false" >
        </receiver>
        <service
            android:name=".RemindWordService"
            android:exported="false" >
        </service>
    </application>

</manifest>